<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	<h1>Predict Category</h1>
     <h4>Enter Some Simple text to test.</h4>
     <br>
     <h4>Example: I am looking to buy car</h4>
     <br>
     <h4>Output will be something like this: {'sentence': 'i am looking to buy a car', 'token': 'car', 'WOI': 'car', 'similarity': 1.0}</h4>
     <br>
     <h5>Meaning the scentence token is matching with WOI (Word of Interest: Car)</h5>
     <!-- Main Input For Receiving Query to our ML -->

    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="text" placeholder="Some Simple Random Text" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Get Category</button>
    </form>

   <br>
   <br>
   {{ woi }}
     <br>
     <br>
    <h4>SVO triplet</h4>
    {{svo}}
 </div>


</body>
</html>